body {
  margin: 0;
}

.container {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 10px;
  background: #e2e2e2;
}

.container .slick-slider {
  width: 100%;
  height: 100%;
}

.item {
  height: 97vh;
}

.slick-prev {
  left: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.slick-next {
  right: 0;
  width: 40px;
  height: 40px;
  z-index: 1;
}

button.slick-arrow::before {
  color: black;
  font-size: 40px;
}
