body {
  margin: 0;
}

.container {
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  padding: 40px;
  background: #e2e2e2;
}

.container .slick-slider .slick-list canvas {
  width: 600px;
  height: 600px;
}
.slick-prev {
  left: 50px;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.slick-next {
  right: 50px;
  width: 40px;
  height: 40px;
  z-index: 1;
}

button.slick-arrow::before {
  color: black;
  font-size: 40px;
}
